.card-container{
  display: inline-flex;
  flex-wrap: wrap;
}

.card{
    width:250px !important;
    margin:1rem;
    background-color: #EEEEEE !important;
}

.card-img,
.modal-image{
    width:250px;
    height:300px;
}

/* modal styling */

.modal-container{
    display: flex !important;
    position: relative;
}

.modal-attribute{
    margin-left: 2rem;
}

.modal-content{
    padding: 2rem;
    background: #EEEEEE !important;
}

.modal-close{
  position: absolute;
  right:0;
  top:0;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}


.attribute-list ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0 !important;
}

.attribute-list li{
    padding:1rem 1rem 1rem 0;
    width:14rem;
}

.rating{
    display: inline-flex;
    align-items: center;
}

.card-body{
    display: flex;
    justify-content: space-between;
}
.card-body svg{
    margin-right:0.25rem;
}

@media only screen and (max-width: 600px) {

   .modal-container{
     display:block !important;
     text-align: center;
   }

   .attribute-list li{
     width:9rem;
    padding: 1rem;
   }

   .modal-attribute{
      margin-left:0;
   }

   .modal-attribute h2{
     margin: 1rem;
   }

   .modal-dialog{
    margin:1rem !important;
   }

   .modal-content{
     padding: 1rem;
   }

   .card{
    width: 160px !important;
   }

   .card-img{
    height:200px;
   }

   .card-body{
    padding: 0 !important;
    display: block;
   }
   
   .rating{
     margin: 0.5rem 0;
   }
}