#home {
    margin: 2rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #home {
        margin: 0;
    }
    .rating{
        display: block;
    }
    .rating strong{
        display: inline-block;
        align-items: center;
    }
}