#header{
    background-color: #EEEEEE !important;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.header-container{
    display: flex;
    align-items: center;
}

.search-container input{
    width:40rem;
    border-radius: .375rem;
}

.filter-container select,
.search-container input{
    padding: 0.75rem;
    border:none;
    margin-right: 1rem;
}


.filter-container select{
    width:15rem;
    border-radius: .375rem;
}

@media only screen and (max-width: 600px) {
  #header{
    position: relative;
    display: block;
    text-align: center;
  }

  .header-container{
    display: block;
  }

  .search-container input,
  .filter-container select{
    width:100%;
    margin:1rem 0;
  }

  .filter-container option {
       width:100px;
  }
}