#header{
    background-color: #2a2a2a !important;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.header-container{
    display: flex;
    align-items: center;
}

.search-container input{
    width:25rem;
}

.filter-container select,
.search-container input,
.rating-container select{
    padding: 0.75rem;
    background-color: #1d1d1d;
    border:none;
    color:#8d8787;
    margin-right: 1rem;
}

.rating-container select,
.filter-container select{
    width:15rem;
}
.rating-container option{
   padding:1rem !important;
}