#header{
    background-color: #2a2a2a !important;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.header-container{
    display: flex;
    align-items: center;
}

.search-container input{
    width:40rem;
    border-radius: .375rem;
}

.btn:hover,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active{
    color: #8d8787 !important;
    background-color: #1d1d1d !important;
    border-color: none;
}

.filter-container select,
.search-container input{
    padding: 0.75rem;
    background-color: #1d1d1d;
    border:none;
    color:#8d8787;
    margin-right: 1rem;
}


.filter-container select{
    width:15rem;
    border-radius: .375rem;
}

.dropdown-menu{
    background-color: #1d1d1d !important;
    width: 15rem !important;
}

.dropdown-item{
    color: #8d8787 !important;
}

@media only screen and (max-width: 600px) {
  #header{
    position: relative;
    display: block;
    text-align: center;
  }

  .header-container{
    display: block;
  }

  .search-container input,
  .filter-container select{
    width:100%;
    margin:1rem 0;
  }
}